<div class=" container-fluid mx-auto py-3" style="width: 30%;">
    <form class="card p-3 border border-dark border-3">
        <fieldset>
            <h3 class="card-header"> View Bus Details</h3>
            <div>
                <div>
                    <label> <b> Bus Number: </b></label> {{bus.busNumber}}

                    <label> <b> Agency: </b></label> {{bus.busAgency}}

                    <label> <b> Source Station: </b></label> {{bus.sourceStation}}

                    <label> <b> Destionation Station: </b></label> {{bus.destinationStation}}

                    <label> <b> Seating Capacity: </b></label> {{bus.seatingCapacity}}

                    <label> <b> Standing Capacity: </b></label> {{bus.standingCapacity}}

                    <label> <b> Availability Status: </b></label> {{bus.isAvailable}}
                </div>
            </div>
        </fieldset>
    </form>
</div>